#reviews-root {
  background-color: #F1F5F8;
  height: 100%;
}
#line-block {
  padding: 3px;
  background-color: #1AA4EB;
  width: 154px;
  margin: auto;
  margin-bottom: 4%;
  border-radius: 10px;
}
#our-review-text {
  padding: 26px 0 6px 0;
  font-size: 46px;
  font-family: 'Cutive Mono', monospace;
  font-weight: 600;
}